<!--START NAV-->
<app-c-navigation></app-c-navigation>
<!--END NAV-->

<section class="p-profile">

  <!--START TOP-->
  <div class="p-profile__top p-profile-top">

    <img src="../../../assets/img/claire.jpeg" alt="" class="p-profile-top__bg">

    <img src="../../../assets/img/claire.jpeg" alt="" class="p-profile-top__image">

    <div class="p-profile-top__container-buttons">

      <button class="p-profile-top__button">
        <img src="../../../assets/svg/edit.svg" alt="Modifier ses informations" class="p-profile-top__icon">
      </button>

      <button class="p-profile-top__button" [routerLink]="'/object'">
        <img src="../../../assets/svg/connect-white.svg" alt="Connecter son appareil" class="p-profile-top__icon">
      </button>

      <a class="p-profile-top__button" [routerLink]="'/login'">
        <img src="../../../assets/svg/disconnect.svg" alt="Se déconnecter" class="p-profile-top__icon">
      </a>

    </div>

  </div>
  <!--END TOP-->

  <!--START BOTTOM-->
  <div class="p-profile__bottom">

    <!--START DESCRIPTION-->
    <div class="p-profile-description">

      <h1 class="p-profile-description__name t-title t-dark-blue">Claire</h1>

    </div>
    <!--END DESCRIPTION-->

    <!--START BADGES-->
    <div class="p-profile-badges">

      <!--START TITLE-->
      <p class="p-profile-badges__title p-home__top t-dark-blue t-title">Badges en cours</p>
      <!--END TITLE-->

      <!--START LIST CONTAINER-->
      <div class="p-profile-badges__list-container">

        <ul class="p-profile-badges__list">

          <app-c-box-badge [percent]="5" [objectif]="7"></app-c-box-badge>
          <app-c-box-badge [percent]="30" [objectif]="30"></app-c-box-badge>
          <app-c-box-badge [percent]="5" [objectif]="10"></app-c-box-badge>
          <app-c-box-badge [percent]="10" [objectif]="40"></app-c-box-badge>

        </ul>

      </div>
      <!--END LIST CONTAINER-->

      <!--START BUTTON -->
      <a class="p-profile-badges__button a-button a-button--full" [routerLink]="'/badges'">
        Voir les badges
      </a>
      <!--END BUTTON -->

    </div>
    <!--END BADGES-->

    <!--START TRAINING-->
    <div class="p-profile-training">

      <p class="p-profile-training__title t-dark-blue t-title">Entraînements favoris</p>

      <ul class="p-profile-training__list">

        <app-c-box-training [className]="'c-box-training--small'" [isFav]="true"></app-c-box-training>
        <app-c-box-training [className]="'c-box-training--small'" [isFav]="true"></app-c-box-training>
        <app-c-box-training [className]="'c-box-training--small'" [isFav]="true"></app-c-box-training>

      </ul>

      <!--START BUTTON -->
      <a class="p-profile-training__button a-button a-button--full" [routerLink]="'/training'">
        Voir les entraînements
      </a>
      <!--END BUTTON -->

    </div>
    <!--END TRAINING-->

  </div>
  <!--END BOTTOM-->

</section>
